.gridLayout {
  display: grid;
}

.mainCol {
  display: flex;
  flex-direction: column;
}

.loadMore {
  width: 15em;
  align-self: center;
  cursor: pointer;
  margin: 3em 0;
  padding: 1em 3em;
  border: none;
  background: rebeccapurple;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 50px;
}

.loadMore:hover {
  transform: scale(1.1);
}

.thumbnail {
  width: 100%;
  max-height: 14.5em;
  display: block;
}

.gridLayout a {
  text-decoration: none;
  color: #fff;
  color: black;
}
.gameGiveaway:hover {
  background: skyblue;
}
.gameInfo {
}

.container {
  width: 95%;
  margin: auto;
}

@media (min-width: 500px) {
  .container {
    width: 98%;
  }
}

@media (min-width: 600px) {
  .gridLayout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridLayout {
    grid-template-columns: 1fr;
    width: 1024px;
    margin: auto;
  }
  .gameGiveaway {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 2em;
    padding-left: 1em;
    border-left: 5px solid rebeccapurple;
  }

  .gameGiveaway:hover {
    transform: scale(1.05);
  }

  .gameGiveaway .gameInfo {
    order: -1;
    grid-column: 1/8;
  }
  .gameGiveaway img {
    grid-column: 8/13;
  }
}

@media (min-width: 1440px) {
  .gridLayout {
  }
}
@media (min-width: 2000px) {
  .gridLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 2048px;
    gap: 0 2em;
  }
}
