.gridLayout {
  display: grid;
}

.thumbnail {
  width: 100%;
  display: block;
}

.gridLayout a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  .gridLayout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media (min-width: 1024px) {
  .gridLayout {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media (min-width: 1440px) {
  .gridLayout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media (min-width: 2000px) {
  .gridLayout {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
